*{
    font-family: 'Montserrat', sans-serif;
}
body{
    overflow: hidden;
    background-color: gainsboro;
}
.navJog{
    width: 120px;
    height: 120px;
    background-image: url("nave.gif");
    position: absolute;
}
.telaMsg{
    position: absolute;
    margin-left: -25%;
    top: 50px;
    left: 50%;
    width: 720px;
    height: 621px;
    display: none;
}